body{
	/*background-color: #DCDCDC;*/
    background-color: #222222;
    padding-top: 70px;
}
#navbar{background-color: black;
        color: white;
        width: 100%;
        height: 80px;
        border-bottom: 0px;
        z-index: -5;
}
#navbar a{text-decoration: none; color: white;border: 0px;}
#nav-button{
  margin-top: 30px;
}
#nav-button ul{
    overflow-x: hidden;
    white-space: nowrap;   
    width: 100%;
    margin-left: 80px;
}
#nav-button li{
    display: inline;
    padding: 10px 5px;
    margin: 5px;
}
#nav-button a:hover{text-decoration: none; color: yellow;}
#nav-button li:hover{
    color: yellow;
    text-decoration: none;
}
html,
body {
    height: 100%;
}

#mycarousel1{
  border-top: 0px;
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*Services Css*/
#services{

  color: white;
    padding-top: 80px;
  padding-bottom: 80px;

}
.card{
    border-radius: 3px;
    border: 1px solid #ededed;
    margin-bottom: 1px;
    margin-top: 25px;
    padding: 0px;
    position: relative;
    font-size: 14px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    color: black;
    padding-bottom: 25px;
}
.card span {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ededed;
    background-color: #fff;
    position: absolute;
    top: -20px;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    left: 50%;
    margin-left: -20px;
}
.card h3, .card span {
    font-size: 16px;
    font-weight: 700;
}

.card:hover{
    z-index: 1;
}

.row img{
    height: 150px;
    width: 260px;
}

/*Choose Reataurant*/
#choose_rest{
  padding-top: 80px;
  padding-bottom: 80px;
  /*background: #85c99d;*/
  background: url(../images/rest.jpg)50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
}
#choose_rest h3{
  color: #fff;
  font-weight: 300;
  font-size: 30px;
}
#choose_rest a{
  position: static;
  margin-top: 30px;
  font-family: inherit;
  color: #fff;
  background: 0 0;
  border: 2px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  transition: all .3s;
  border-radius: 3px;
  font-weight: 700;
  display: inline-block;
  right: 15px;
  top: 0;
  text-align: center;
}
#choose_rest a:hover{
  text-decoration: none;
  background-color: #222222;
  border: 2px solid #222222;
  z-index: -1;
}

/* contact section */
#contact {
  background: url(../images/map.png)50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 100px;
}
#contact .col-md-8 {
  margin-bottom: 32px;
}
#contact .form-control {
  background: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact .form-control:focus {
  border-color: #f9f9f9;
}
#contact input {
  height: 48px;
}
#contact input[type="submit"] {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
  margin-top: 12px;
  height: 50px;
}
#contact input[type="submit"]:hover {
  background: #999;
  color: #ffffff;
  z-index: -1;
}

















/*footer css*/
footer {
  background: url(../images/footer-bg.jpg)50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
#social_footer, footer {
    border-top: 1px solid #ededed;
}
#about a{
  color: #fff;
  text-decoration: none;
}
footer ul li{
  text-decoration: none;
  overflow-x: hidden;
  display: auto;
  margin-left: -40px;
}
footer #submit{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 30px 10px;
  margin-left: 30px;
  font-size: 15px;
}
footer #submit:hover{
  background-color: #999;
  border: 2px solid #fff;
  z-index: -1;
}
/*social-icons*/
#social{

}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* copyright section */
#copyright {
  background: #343434;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  z-index: -5;
}
#copyright p {
  color: #ffffff;
}
#copyright a {
  color: #ffffff;
}
#copyright a:hover {
  color: #FF0;
}
